<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="bg-gray-200 w-1/2 p-4 mx-auto mt-4">
        <h1 class="text-2 font bold" data-th-text="${hello}">Welcome to Home Page</h1>
        <p>Practice : <span data-th-text="${Practice}"></span></p>
        <p>GitHub Repository Link : <span data-th:text="${GithubRepository}"></span></p>
        <a data-th:href="${GithubRepository}">Click here to open</a>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, optio necessitatibus numquam soluta odit cupiditate adipisci fugiat quas accusamus reprehenderit error quibusdam non atque sequi perspiciatis nemo laboriosam! Assumenda, magni?
        </p>
    </div>
    
</body>
</html>