<!DOCTYPE html>
<html lang="en"
th:replace="~{base :: parent(~{::#content})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    
</head>
<body>
    <section id = "content">
        <h1>Welcome to service page</h1>
        <h2>Services offered by SCM</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe molestiae nulla delectus earum ipsa in voluptatum voluptates! In optio perspiciatis nostrum alias mollitia? Enim neque, veritatis veniam iste inventore tempora?<10></10>
    </section>
    <script>
        console.log("services page")
    </script>
</body>
</html>